<div class="invoice-card"">
  <%= link_to invoice_path(invoice), class: "invoice-card-info" do %>
    <div><%= invoice.number.to_s.rjust(4, "0") %></div>
    <div><%= invoice.date %></div>
    <div><%= invoice.client.name %></div>
    <div class="align-right"><%= number_to_currency(invoice.total, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></div>
    <div>(<%= invoice.invoice_items.length %> lines)</div>
    <div>
      <% if !invoice.issued? %>
        <div class="pill pill-draft">Draft</div>
      <% elsif invoice.paid? %>
        <div class="pill pill-paid">Paid</div>
      <% else %>
        <div class="pill pill-due">Due</div>
      <% end %>
    </div>
  <% end %>
  <div class="invoice-card-actions">
    <% if !invoice.issued? %>
      <%= link_to invoice_path(invoice), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <%= image_tag "trash.svg" %>
      <% end %>
    <% elsif invoice.paid? %>
    <% else %>
      <%= link_to "Pay", pay_invoice_path(invoice), data: { turbo_method: :patch } %>
    <% end %>
  </div>
</div>
