<h2>Invoices</h2>

<%= link_to clients_path do %>
  <%= image_tag "plus.svg" %>
  <span>New invoice</span>
<% end %>

<% if @drafts.any? %>
  <h3>Drafts</h3>
<% end %>

<div id="drafts-grid">
  <% @drafts.each do |invoice| %>
    <div class="debug-grey">
      <%= link_to invoice_path(invoice) do %>
        <span>DRAFT - <%= invoice.client.designation %> </span>
        <span><%= number_to_currency(invoice.total, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></span>
        <span>(<%= invoice.invoice_items.length %> lines)</span>
      <% end %>
      <%= link_to invoice_path(invoice), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <%= image_tag "trash.svg" %>
        <span>Delete draft</span>
      <% end %>
    </div>
  <% end %>
</div>

<% if @issued_invoices.any? %>
  <h3>Issued invoices</h3>
<% end %>

<% @issued_invoices.each do |invoice| %>
  <%= link_to invoice_path(invoice) do %>
    <div class="debug-grey">
      <span><%= invoice.number.to_s.rjust(4, "0") %></span>
      <span><%= invoice.date %></span>
      <span><%= invoice.client.designation %></span>
      <span><%= number_to_currency(invoice.total, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></span>
      <span>(<%= invoice.invoice_items.length %> lines)</span>
    </div>
  <% end %>
<% end %>
