<h2>New invoice</h2>

<%= form_for @invoice do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date, value: Date.today %>
  </div>
  <div>
    <%= f.label :client %>
    <%= f.collection_select :client_id, Client.all, :id, :designation %>
  </div>
  <div>
    <%= f.submit "Create new invoice draft" %>
  </div>
<% end %>
