<div class="debug-grey">
  <div>Jane Doe</div>
  <div>Anschrift: Teststr. 10, 2. Aufgang 6. Stock, Potsdam</div>
  <div>Telefon: 0100000000 E-Mail: jane@doe.com</div>
</div>

<div class="debug-grey">
  <div><%= @client.designation %></div>
  <div><%= @client.address_line1 %></div>
  <div><%= @client.address_line2 %></div>
  <div><%= "#{@client.city} #{@client.country}" %></div>
</div>

<div>
  <h3>RECHNUNG Nr. <%= @invoice.number ? @invoice.number : "XX" %></h3>
  <div>Datum: <%= @invoice.date %></div>
  <div>Lehrtätigkeit im Fach: X</div>
</div>

<%= form_for [@invoice, @invoice_item] do |f| %>
  <table>
    <thead>
      <th>Beschreibung</th>
      <th>Datum</th>
      <th class="align-right">Anzahl</th>
      <th class="align-right">Einzelpreis</th>
      <th class="align-right">Gesamtpreis</th>
      <th class="no-print">Actions</th>
    </thead>
    <tbody>
      <% @invoice.invoice_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.date %></td>
          <td class="align-right"><%= item.quantity %></td>
          <td class="align-right"><%= number_to_currency(item.unit_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></td>
          <td class="align-right"><%= number_to_currency(item.total_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></td>
          <td class="no-print"><%= link_to "Delete", invoice_item_path(item), data: { turbo_method: :delete } %></td>
        </tr>
      <% end %>
      <tr class="no-print table-form">
        <td><%= f.text_field :name %></td>
        <td><%= f.date_field :date, value: Date.today %></td>
        <td><%= f.number_field :quantity %></td>
        <td><%= f.number_field :unit_price %></td>
        <td class="align-right"><%= number_to_currency(0, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></td>
        <td class="no-print"><%= f.submit "Add" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<h3 class="align-right">Rechnungsbetrag: <%= number_to_currency(@invoice.total, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></h3>

<div>
  Der ausgewiesene Betrag enthält keine Umsatzsteuer. Umsatzsteuerbefreiung gemäß § 4 Nummer 21 b
  Umsatzsteuergesetz.
</div>
<div>
  Ich bitte Sie den Rechnungsbetrag auf mein unten angegebenes Konto zu überweisen.
  Bitte geben Sie die Rechnungsnummer als Verwendungszweck an.
</div>
<div>
  IBAN: XXXX XXXX XXXX XXXX XXXX XX BIC: XXXXXXXXXXX Xbank
</div>
<table>
  <tbody>
    <td>Gerichsstand: XXXXXX</td>
    <td>Steuer-Nr.: XX XXX XXXXX</td>
  </tbody>
</table>

<button class="no-print" onclick="window.print()" data-turbo-confirm="Are you sure?">Print</button>
<%= link_to "Back to invoices", root_path, class: "no-print" %>
