  <div class="no-print debug-pink-light invoice-header">
    <% if @invoice.issued? %>
      <div>
        <h2>Invoice <%= @invoice.number %> for <%= @invoice.client.designation %></h2>
      </div>
      <div>
        <%= link_to root_path, class: "no-print" do %>
          <%= image_tag "left.svg" %>
          <span>Back to invoices</span>
        <% end %>
        <%= link_to "", class: "no-print", onclick: "window.print()" do %>
          <%= image_tag "printer.svg" %>
          <span>Print invoice</span>
        <% end %>
      </div>
    <% else %>
      <div>
        <h2>Invoice draft for <%= @invoice.client.designation %></h2>
      </div>
      <div>
        <%= link_to root_path, class: "no-print" do %>
          <%= image_tag "left.svg" %>
          <span>Back to invoices</span>
        <% end %>
        <%= link_to invoice_path(@invoice), class: "no-print", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <%= image_tag "trash.svg" %>
          <span>Delete draft</span>
        <% end %>
        <%= link_to issue_invoice_path(@invoice), class: "no-print", data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } do %>
          <%= image_tag "file-check.svg" %>
          <span>Issue invoice</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <div class="invoice-header">
      <div class="debug-grey">
        <div><%= @invoice.display_client_designation %></div>
        <div><%= [@client.address_line1, @client.address_line2].compact_blank.join(", ") %></div>
        <div><%= "#{@client.postal_code} #{@client.city}" %></div>
        <div><%= @client.country %></div>
        <div>
          <% unless @invoice.issued? %>
            <%= link_to edit_client_path(@client) do %>
              <%= image_tag "edit.svg" %>
              <span>Edit <%= @client.designation %>'s info</span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="debug-grey">
        <div><%= Current.user.company.designation %></div>
        <div><%= [Current.user.company.address_line1, Current.user.company.address_line2].compact_blank.join(", ") %></div>
        <div>Telefon: <%= Current.user.company.phone_number %></div>
        <div>E-Mail: <%= Current.user.company.email_address %></div>
        <div>
          <% unless @invoice.issued? %>
            <%= link_to edit_company_path(Current.user.company) do %>
              <%= image_tag "edit.svg" %>
              <span>Edit my info</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="invoice-header">
      <% if @invoice.issued? %>
        <h3>RECHNUNG Nr. <%= @invoice.number %></h3>
        <h3><%= @invoice.date %></h3>
      <% else %>
        <h3>RECHNUNG Nr. ?</h3>
        <h3>?</h3>
      <% end %>
    </div>

<%= turbo_frame_tag dom_id(@invoice) do %>
  <table>
    <thead>
      <th>#</th>
      <th>Beschreibung</th>
      <th>Datum</th>
      <th class="align-right">Anzahl</th>
      <th class="align-right">Einzelpreis</th>
      <th class="align-right">Gesamtpreis</th>
      <% unless @invoice.issued? %>
        <th>Actions</th>
      <% end %>
    </thead>
    <tbody>
      <% @invoice.invoice_items.order(:position).each do |item| %>
        <tr class="<%= 'active-item' if item.id == params[:edit_item].to_i %>">
          <td><%= "#{item.position}." %></td>
          <td><%= item.name %></td>
          <td><%= item.date %></td>
          <td class="align-right"><%= item.quantity %></td>
          <td class="align-right"><%= number_to_currency(item.unit_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></td>
          <td class="align-right"><%= number_to_currency(item.total_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></td>
          <% unless @invoice.issued? %>
            <td>
              <%= link_to increment_invoice_item_path(item, direction: "minus"), data: { turbo_method: :patch } do %>
                <%= image_tag "minus.svg" %>
              <% end %>
              <%= link_to increment_invoice_item_path(item, direction: "plus"), data: { turbo_method: :patch } do %>
                <%= image_tag "plus.svg" %>
              <% end %>
              <%= link_to move_invoice_item_path(item, direction: "up"), data: { turbo_method: :patch } do %>
                <%= image_tag "up.svg" %>
              <% end %>
              <%= link_to move_invoice_item_path(item, direction: "down"), data: { turbo_method: :patch } do %>
                <%= image_tag "down.svg" %>
              <% end %>
              <%= link_to duplicate_invoice_item_path(item), data: { turbo_method: :post } do %>
                <%= image_tag "copy.svg" %>
              <% end %>
              <%= link_to invoice_path(@invoice, edit_item: item) do %>
                <%= image_tag "edit.svg" %>
              <% end %>
              <%= link_to invoice_item_path(item), data: { turbo_method: :delete } do %>
                <%= image_tag "trash.svg" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% unless @invoice.issued? %>
    <%= form_for (params[:edit_item] ? @invoice_item : [@invoice, @invoice_item]), html: { class: "debug-pink" } do |f| %>
      <h3><%= params[:edit_item] ? "Edit item ##{@invoice_item.position}" : "New item" %></h3>
      <div>Description: <%= f.text_field :name %></div>
      <div>Date: <%= f.date_field :date %></div>
      <div>Amount: <%= f.number_field :quantity %></div>
      <div>Price: <%= f.number_field :unit_price, step: '0.01' %></div>
      <div>Total: <%= number_to_currency(@invoice_item.total_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></div>
      <% if params[:edit_item] %>
        <div><%= f.submit "Edit" %> <%= link_to "Cancel edit", invoice_path(@invoice) %></div>
      <% else %>
        <div><%= f.submit "Add" %></div>
      <% end %>
    <% end %>
  <% end %>

  <h3 class="align-right">Rechnungsbetrag: <%= number_to_currency(@invoice.total, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></h3>


  <div>
    Lehrtätigkeit im Fach: X
  </div>
  <div>
    Der ausgewiesene Betrag enthält keine Umsatzsteuer. Umsatzsteuerbefreiung gemäß § 4 Nummer 21 b
    Umsatzsteuergesetz.
  </div>
  <div>
    Ich bitte Sie den Rechnungsbetrag auf mein unten angegebenes Konto zu überweisen.
    Bitte geben Sie die Rechnungsnummer als Verwendungszweck an.
  </div>
  <div>
    IBAN: <%= @invoice.company.iban %> BIC: <%= @invoice.company.bic %>
  </div>
  <table>
    <tbody>
      <td>Gerichsstand: <%= @invoice.company.jurisdiction %></td>
      <td>Steuer-Nr.: <%= @invoice.company.vat_number %></td>
    </tbody>
  </table>

  </div>
<% end %>
