<div class="no-print">
  <% if @invoice.issued? %>
    <div class="page-header">
      <h2>Invoice <%= @invoice.number %> for <%= @invoice.display_client_designation %></h2>
      <div class="page-header-actions">
        <%= link_to params[:back_url].presence || root_path, class: "no-print" do %>
          <%= image_tag "left.svg" %>
          <span>Back</span>
        <% end %>
        <%= link_to "", class: "no-print", onclick: "window.print()" do %>
          <%= image_tag "printer.svg" %>
          <span>Print</span>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="page-header">
      <h2>Invoice draft for <%= @invoice.display_client_designation %></h2>
      <div class="page-header-actions">
        <%= link_to params[:back_url].presence || root_path, class: "no-print" do %>
          <%= image_tag "left.svg" %>
          <span>Back</span>
        <% end %>
        <%= link_to invoice_path(@invoice), class: "no-print", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <%= image_tag "trash.svg" %>
          <span>Delete</span>
        <% end %>
        <%= link_to issue_invoice_path(@invoice), class: "no-print", data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } do %>
          <%= image_tag "file-check.svg" %>
          <span>Issue</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="flex-between-top">
  <div>
    <div><%= @invoice.display_client_designation %></div>
    <div><%= [@invoice.display_client_address_line1, @invoice.display_client_address_line2].compact_blank.join(", ") %></div>
    <div><%= "#{@invoice.display_client_postal_code} #{@invoice.display_client_city}" %></div>
    <div><%= @invoice.display_client_country %></div>
    <div>
      <% unless @invoice.issued? %>
        <%= link_to edit_client_path(@client, back_url: invoice_path(@invoice)) do %>
          <%= image_tag "edit.svg" %>
          <span>Edit <%= @invoice.display_client_designation %>'s info</span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="align-right">
    <div><%= @invoice.display_company_designation %></div>
    <div><%= [@invoice.display_company_address_line1, @invoice.display_company_address_line2].compact_blank.join(", ") %></div>
    <div>Telefon: <%= @invoice.display_company_phone_number %></div>
    <div>E-Mail: <%= @invoice.display_company_email_address %></div>
    <div>
      <% unless @invoice.issued? %>
        <%= link_to edit_company_path(@invoice.company, back_url: invoice_path(@invoice)) do %>
          <span>Edit my info</span>
          <%= image_tag "edit.svg" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="flex-between-top">
  <% if @invoice.issued? %>
    <h3>RECHNUNG Nr. <%= @invoice.number %></h3>
    <h3><%= @invoice.date %></h3>
  <% else %>
    <h3>RECHNUNG Nr. ?</h3>
    <h3>?</h3>
  <% end %>
</div>

<%= turbo_frame_tag dom_id(@invoice) do %>
  <table>
    <thead>
      <th>#</th>
      <th>Beschreibung</th>
      <th>Datum</th>
      <th class="align-right">Anzahl</th>
      <th class="align-right">Einzelpreis</th>
      <th class="align-right">Gesamtpreis</th>
      <% unless @invoice.issued? %>
        <th>Actions</th>
      <% end %>
    </thead>
    <tbody>
      <% @invoice.invoice_items.order(:position).each do |item| %>
        <tr class="<%= 'active-item' if item.id == params[:edit_item].to_i %>">
          <td><%= "#{item.position}." %></td>
          <td><%= item.name %></td>
          <td><%= item.date %></td>
          <td class="align-right"><%= item.quantity %></td>
          <td class="align-right"><%= number_to_currency(item.unit_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></td>
          <td class="align-right"><%= number_to_currency(item.total_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></td>
          <% unless @invoice.issued? %>
            <td>
              <%= link_to increment_invoice_item_path(item, direction: "minus"), data: { turbo_method: :patch } do %>
                <%= image_tag "minus.svg" %>
              <% end %>
              <%= link_to increment_invoice_item_path(item, direction: "plus"), data: { turbo_method: :patch } do %>
                <%= image_tag "plus.svg" %>
              <% end %>
              <%= link_to move_invoice_item_path(item, direction: "up"), data: { turbo_method: :patch } do %>
                <%= image_tag "up.svg" %>
              <% end %>
              <%= link_to move_invoice_item_path(item, direction: "down"), data: { turbo_method: :patch } do %>
                <%= image_tag "down.svg" %>
              <% end %>
              <%= link_to duplicate_invoice_item_path(item), data: { turbo_method: :post } do %>
                <%= image_tag "copy.svg" %>
              <% end %>
              <%= link_to invoice_path(@invoice, edit_item: item) do %>
                <%= image_tag "edit.svg" %>
              <% end %>
              <%= link_to invoice_item_path(item), data: { turbo_method: :delete } do %>
                <%= image_tag "trash.svg" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% unless @invoice.issued? %>
  <%= form_for (params[:edit_item] ? @invoice_item : [@invoice, @invoice_item]), html: { id: "invoice-form" } do |f| %>
    <h3><%= params[:edit_item] ? "Edit item ##{@invoice_item.position}" : "New item" %></h3>
    <div>Description: <%= f.text_field :name %></div>
    <div>Date: <%= f.date_field :date %></div>
    <div>Amount: <%= f.number_field :quantity %></div>
    <div>Price: <%= f.number_field :unit_price, step: '0.01' %></div>
    <div>Total: <%= number_to_currency(@invoice_item.total_price, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></div>
    <% if params[:edit_item] %>
      <div><%= f.submit "Edit" %> <%= link_to "Cancel edit", invoice_path(@invoice) %></div>
    <% else %>
      <div><%= f.submit "Add" %></div>
    <% end %>
  <% end %>
  <% end %>
  <h3 class="align-right">Rechnungsbetrag: <%= number_to_currency(@invoice.total, unit: "€", format: "%n %u", separator: ",", delimiter: " ") %></h3>

  <% @invoice.mentions.order(position: :asc).each do |mention| %>
    <div><%= mention.text %></div>
  <% end %>

  <div>IBAN: <%= @invoice.display_company_iban %> BIC: <%= @invoice.display_company_bic %></div>
  <div>Gerichsstand: <%= @invoice.display_company_jurisdiction %></div>
  <div>Steuer-Nr.: <%= @invoice.display_company_vat_number %></div>
<% end %>
