<div class="navbar-main">
  <% if authenticated? %>
    <%= render "shared/navbar_item", path: clients_path, image_path: "users.svg", text: "Clients", data: nil %>
    <%= render "shared/navbar_item", path: invoices_path, image_path: "files.svg", text: "Invoices", data: nil %>
    <%#= render "shared/navbar_item", path: statistics_path, image_path: "chart.svg", text: "Statistics", data: nil %>
    <%= render "shared/navbar_item", path: edit_company_path(Current.user.company), image_path: "user.svg", text: "Profile", data: nil %>
  <% end %>
</div>
<div class="navbar-secondary">
  <% if authenticated? %>
    <%# DEBUG %>
    <div style="margin-right: 20px">Logged in as <%= Current.user.email_address %></div>
    <%= render "shared/navbar_item", path: session_path, image_path: "logout.svg", text: "Log out", data: { turbo_method: :delete } %>
  <% else %>
    <%= render "shared/navbar_item", path: new_session_path, image_path: "login.svg", text: "Log in", data: nil %>
  <% end %>
</div>
