<nav class="no-print debug-pink">
  <% if authenticated? %>
    <%= link_to clients_path do %>
      <%= image_tag "users.svg" %>
      <span>Clients</span>
    <% end %>
    <%= link_to invoices_path do %>
      <%= image_tag "files.svg" %>
      <span>Invoices</span>
    <% end %>
    <%= link_to statistics_path do %>
      <%= image_tag "chart.svg" %>
      <span>Statistics</span>
    <% end %>
    <%= link_to profile_path do %>
      <%= image_tag "user.svg" %>
      <span>Profile</span>
    <% end %>
    <%= link_to session_path, data: { turbo_method: :delete } do %>
      <%= image_tag "logout.svg" %>
      <span>Log out (<%= Current.user.email_address %>)</span>
    <% end %>
  <% else %>
    <%= link_to "Login", new_session_path %>
  <% end %>
</nav>
