<div class="client-card">
  <%= link_to invoice_client_path(client, back_url: clients_path), class: "client-header", data: { turbo_method: :post } do %>
    <h3><%= client.name %></h3>
    <div class="client-actions">
      <%= image_tag "file-plus.svg" %>
    </div>
  <% end %>
  <div class="client-content">
    <div>
      <div class="break-spaces"><%= client.details %></div>
      <br>
      <div><%= client.email_address %></div>
      <div><%= client.phone_number %></div>
      <div><%= client.vat_number %></div>
    </div>
    <%= link_to(edit_client_path(client), class: "client-action") { image_tag "edit.svg" } %>
  </div>
</div>
