<%= form_for client do |f| %>
    <%= hidden_field_tag :back_url, params[:back_url] %>
    <div>
      <%= f.label :name, "Nickname (does not appear on invoice)" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :details, "Client name & address" %>
      <%= f.text_area :details, rows: 8 %>
    </div>
    <div>
      <%= f.label :vat_number, "Tax number" %>
      <%= f.text_field :vat_number %>
    </div>
    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
    </div>
    <div>
      <%= f.submit %>
    </div>
<% end %>
