<h2>Clients</h2>
<%= link_to "Add new client", new_client_path %>

<div id="clients-grid">
  <% @clients.each do |client| %>
    <div class="debug-grey">
      <h3><%= client.designation %></h3>
      <div><%= [client.address_line1, client.address_line2].compact_blank.join(", ") %></div>
      <div><%= [client.postal_code, client.city].compact_blank.join(" ") %></div>
      <div><%= client.country %></div>
      <div><%= client.phone_number %></div>
      <div><%= client.email_address %></div>
      <div><%= client.vat_number %></div>
      <%= link_to "Edit", edit_client_path(client) %>
      <%= link_to "Invoice #{client.designation}", invoice_client_path(client), data: { turbo_method: :post } %>
    </div>
  <% end %>
</div>
