<h3>Edit your company information</h3>

<%= form_for @company do |f| %>
  <%= hidden_field_tag :back_url, params[:back_url] %>

  <%= f.label :details, "Company name & address" %>
  <%= f.text_area :details, rows: 8 %>

  <%= f.label :vat_number %>
  <%= f.text_field :vat_number %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :email_address %>
  <%= f.text_field :email_address %>

  <%= f.label :iban, "IBAN" %>
  <%= f.text_field :iban %>

  <%= f.label :bic, "BIC" %>
  <%= f.text_field :bic %>

  <%= f.label :jurisdiction, "Jurisdiction" %>
  <%= f.text_field :jurisdiction %>

  <%= f.submit %>
<% end %>

<h3>Edit the default mentions that appear on new invoices</h3>

<%= turbo_frame_tag :mention_defaults do %>
  <% @company.mention_defaults.each do |mention| %>
    <%= form_for mention do |f| %>
      <%= f.text_area :text %>
      <div class="flex">
        <%= f.button type: :submit, name: :commit, value: :edit do %>
          <%= image_tag "check.svg" %>
        <% end %>
        <%= f.button type: :submit, name: :commit, value: :cancel do %>
          <%= image_tag "x.svg" %>
        <% end %>
        <%= f.button type: :submit, name: :commit, value: :destroy, data: { turbo_confirm: "Are you sure?" } do %>
          <%= image_tag "trash.svg" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= form_for [@company, @mention_default] do |f| %>
    <%= f.text_area :text %>
    <%= f.submit "Add mention" %>
  <% end %>
<% end %>

<%= link_to profile_path do %>
  <%= image_tag "left.svg" %>
  <span>Back to profile</span>
<% end %>
