<h2>Edit your company information</h2>

<%= form_for @company do |f| %>
  <%= hidden_field_tag :back_url, params[:back_url] %>

  <%= f.label :details, "Company name & address" %>
  <%= f.text_area :details, rows: 8 %>

  <%= f.label :vat_number %>
  <%= f.text_field :vat_number %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :email_address %>
  <%= f.text_field :email_address %>

  <%= f.label :iban, "IBAN" %>
  <%= f.text_field :iban %>

  <%= f.label :bic, "BIC" %>
  <%= f.text_field :bic %>

  <%= f.label :jurisdiction, "Jurisdiction" %>
  <%= f.text_field :jurisdiction %>

  <%= f.submit %>
<% end %>

<h2>Edit the default mentions appearing on new invoices</h2>

<div id="mention_defaults_list">
  <% @company.mention_defaults.each do |mention_default| %>
    <%= tag.div id: dom_id(mention_default) do %>
      <%= render "mention_defaults/edit_form", mention_default: mention_default %>
    <% end %>
  <% end %>
</div>

<%= tag.div id: :new_mention_default do %>
  <%= render "mention_defaults/new_form", company: @company, mention_default: @mention_default %>
<% end %>

<%= link_to profile_path do %>
  <%= image_tag "left.svg" %>
  <span>Back to profile</span>
<% end %>
